/* ---------- */
/*   Layout   */
/* ---------- */

html, body {
    height: 100%;
    background-color: #d3d3d3;
    overflow: hidden;
    /*font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;*/
    /*font-family: 'Nunito', sans-serif;*/
    font-family: 'Lato', sans-serif;
}

.clear {
    clear: both;
}

.admin_info {
    padding: 20px;
    border: 1px solid #e6e6e6;
    background-color: #eff0f3;
    font-weight: bold;
}

#home_page {
    padding: 30px 40px;
}

#home_page_title {
    font-size: 20px;
}

#home_page_statistiques {
    padding: 40px 0;
}

#home_page_statistiques ul {
    padding: 20px 20px 0;
}

#home_page_statistiques_content {
    margin-top: 20px;
    padding: 8px;
    border: 1px solid #d3d3d3;
    background-color: #efefef;
}

/* ---- TOP ---- */
#header {
    height: 85px;
    background-color: #2b353f;
    color: #FFFFFF;
}

#header a {
    color: #bdbdbd;
    text-decoration: none;
}

#header a:hover {
    color: #d3d3d3;
}

#login {
    float: right;
    line-height: 85px;
    margin-right: 50px;
}

#login span {
    font-size: 20px;
    line-height: 85px;
}

#logo {
    float: left;
    line-height: 85px;
    margin-left: 50px;
    font-size: 25px;
    font-family: 'gotham_bold', cursive;
    /* font-family: 'Lobster Two', cursive; */
}

#sub_header {
    height: 35px;
    line-height: 35px;
    background-color: #3b4a56;
    color: #FFFFFF;
    padding-left: 50px;
    font-size: 10px;
    text-transform: uppercase;
}

#sub_header a {
    color: #bdbdbd;
    text-decoration: none;
}

#sub_header a:hover {
    color: #d3d3d3;
}

/* ---- MIDDLE ---- */

#middle {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #efefef;
}

/* Menu left */

#menu_left {
    position: absolute;
    top: 0;
    left: 0;
    width: 230px;
    z-index: 3;
    background-color: #eff0f3;
    border-right: 1px solid #e6e6e6;
    overflow: auto;
}

#nav_site {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #dae1e8;
}

.nav_model {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #dae1e8;
}

#nav_site a {
    display: block;
    padding: 20px 10px;
    font-size: 13px;
    color: #393939;
    /* border-bottom: 1px solid #d3d3d3; */
}

#nav_site a:hover span {
    color: #3b4a56;
}

.nav_model ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#menu_left span {
    display: block;
    padding: 20px 10px;
    font-size: 13px;
    color: #393939;
    border-bottom: 1px solid #d3d3d3;
}

#menu_left a {
    text-decoration: none;
}

.nav_model a {
    display: block;
    padding: 20px 20px;
    font-size: 12px;
    color: #848484;
    border-bottom: 1px solid #e6e6e6;
    text-transform: uppercase;
    font-weight: bolder;
}

.nav_model a:hover {
    border-left: 5px solid #2b353f;
    padding-left: 15px;
    background-color: #3b4a56;
    color: #FFFFFF;
}

#home_link {
    padding: 0px!important;
}

#home_link span {
    font-size: 18px;
}

/* Content */

#content_right {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    z-index: 2;
}

#content {
    margin-left: 230px;
    overflow-y: hidden;
}

#content_admin_model {
    overflow-y: auto;
    padding: 20px 50px 20px;
}

#content_admin_model .search-button {
    display: block;
    margin-bottom: 10px;
}

#content_admin_model .search-form {
    padding: 20px;
    background-color: #efefef;
}

#content_admin_model .row label {
    float: left;
    width: 200px;
    text-align: right;
    font-size: 13px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    padding-right: 15px;
}

#content_admin_model .row input {
    float: left;
    border: 1px solid #ddd;
    line-height: 33px;
    padding-left: 33px;
    margin: 0;
    margin-left: 15px;
}

#content_admin_model .row input[type=checkbox] {
    margin-top: 10px!important
}

#content_admin_model .row input[type="file"] {
    border: none;
}

#content_admin_model .row .errorMessage {
    float: left;
    margin-left: 15px;
    padding: 5px;
}

#content_admin_model .row .cke {
    float: left;
    margin-left: 15px;
}

#content_admin_model .hidden-area {
    display: none;
    background-color: #e6e6e6;
    padding: 15px;
    margin-bottom: 35px;
}

#content_admin_model .hidden-area h3 {

}

#content_admin_model .hidden-area.active {
    display: block;
}

/* ----- FOOTER ------ */
#footer {
    text-align: center;
    background-color: #d3d3d3;
    padding: 10px;
}

.image_preview {
	max-height: 200px;
}

/* ------------------------ */
/*          PAGES           */
/* ------------------------ */

#top_admin_model {
    position: relative;
    border-bottom: 1px solid #d3d3d3;
    margin-left: 50px;
    margin-right: 50px;
    z-index: 2;
    background-color: #FFFFFF;
}

#top_admin_model h1 {
    float: left;
    font-size: 22px;
    margin: 0;
    line-height: 40px;
    padding: 20px 0;
    font-weight: bold;    
}

#ressources {
    position: absolute;
    top: 85px;
    right: 50px;
    border-bottom: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    background-color: #FFFFFF;
    z-index: 2;
    padding: 0 20px;
}

#ressources h2 {
    font-size: 14px;
    font-weight: bold;
}

#ressources ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#ressources ul li {
    margin-top: 8px;
}

#bottom_shadow {
    position: relative;
    z-index: 1;
    margin: -10px 54px 0;
    height: 10px;
    box-shadow: 0px 1px 10px #d3d3d3;
}

.back_admin {
   font-size: 11px;
   color: #626262;
   margin-left: 25px;
   font-style: italic;
   text-transform: none;
}

.back_admin a {
    text-decoration: none;
}

.back_admin a:hover {
    text-decoration: underline;
}

#btn_model_area {
    float: right;
    padding: 30px 0;
    font-size: 20px;
}

#btn_model_area a {
    text-decoration: none;
    height: 23px;
    line-height: 23px;
}

.btn_model {
    display: block;
    float: left;
    margin-left: 20px;
}

.btn_edit {
    /* background: url("../images/theme/btn_edit.png") no-repeat; */
}

.btn_delete {
    background: url("../images/theme/btn_delete.png") no-repeat;
}

.btn_add {
    /* background: url("../images/theme/btn_add.png") no-repeat; */
}

.btn_view {
    background: url("../images/theme/btn_view.png") no-repeat;
}

.btn_save_model {
    cursor: pointer;
}

.btn_save_model:hover {
    background-color: #105e00;
}

/* ------- VIEW ------- */
.view_attribute {
    margin-bottom: 15px!important;
    font-size: 13px;
}
.view_attribute_name {
    float: left;
    width: 200px;
    text-align: right;
    font-weight: bold;
    font-size: 13px;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
}

.view_attribute_value {
    float: left;
    text-align: left;
    margin-left: 10px;
    padding: 0 15px;
    line-height: 35px;
}

.view_attribute_value p {
    margin-bottom: 10px;
}

.view_attribute_text {
    border-left: 5px solid #dcdcdc;
    padding-top: 10px;
    width: 500px;
    line-height: 25px;
}

/* ------- FORM --------- */
.note {
    margin-bottom: 20px;
}

.row {
    margin-bottom: 15px!important;
}

.hidden_row {
    display: none;
}

.hidden_option {
    display: none;
}

.image_already_exist {

}

.image_already_exist .image_preview {
    margin-left: 0px;
}

#submit_btn {
    display: none;
}

/* ----------------------- */
/*          LOGIN          */
/* ----------------------- */
#login_page {
    width: 320px;
    margin: 7% auto;
}

#login_page h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

#login_area {
    padding: 30px;
    background-color: #eff0f3;
    border: 1px solid #e6e6e6;
}

#login_area label {
    float: left;
    width: 100px;
    line-height: 24px;
    margin: 0.2em 0;
}

#login_area input {
    float: left;
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 5px;
    background-color: #FFFFFF;
}

#login_area input[type="checkbox"] {
    width: 20px;
}

#login_area input[type="submit"] {
    background-color: #3b4a56;
    color: #FFFFFF;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0;
    height: 35px;
    line-height: 35px;
}

#login_area input[type="submit"]:hover {
    background-color: #2b353f;
}

#login_area .errorMessage {
    float: left;
}

#login_area span {
    display: none;
}

#login_area .buttons {
    margin-top: 30px!important;
}

#login_area .buttons input {
    display: block;
    float: none!important;
    width: 80px;
    margin: 0 auto;
}

#LoginForm_rememberMe {
    margin-top: 7px;
}

.rememberMe label {
    margin-left: 20px!important;
    width: auto!important;
}

/* ----------------------- */
/*       PAGE STATIC       */
/* ----------------------- */
#list_statics_fields {
    margin-top: 20px;
}

.elt_static {
    margin-bottom: 10px;
    line-height: 30px;
}

.elt_static_label {
    float: left;
    min-width: 120px;
    padding: 0px 10px;
    margin-right: 20px;
    background-color: #d3d3d3;
}

.elt_static_value {
    float: left;
    margin-right: 20px;
    max-width: 600px;
}

.elt_static_edit {
    float: left;
    font-size: 12px;
}

.module {
    position: relative;
    margin: 20px 0;
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
}

.module-header {
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    background-color: #efefef;
}

.module-type {
    float: left;
    font-weight: bold;
}

.module-delete, .module-edit {
    float: right;
    margin-left: 20px;
    cursor: pointer;
}

.module-delete:hover, .module-edit:hover {
    text-decoration: underline;
}

.module-content {
    padding: 20px;
}

#add-module {
    position: relative;
    margin: 50px 0;
    padding: 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.btn-add-module {
    position: relative;
    float: left;
    margin-right: 20px;
    padding: 7px 10px;
    border: 1px solid #ddd;
    background-color: #efefef;
    text-decoration: none;
}

.btn-add-module:hover {
    background-color: #ddd;
}

.hidden_data {
    display: none;
}

.preview {
    position: relative;
    margin: 20px 0;
    max-width: 400px;
    max-height: 300px;
    width: auto;
    height: auto;
}

.link-manage-image {
    display: inline-block;
    color: #337ab7;
    cursor: pointer;
}

.link-manage-image:hover {
    color: #23527c;
    text-decoration: underline;
}

.admin-bloc {
    margin: 50px 0;
    padding: 50px;
    background-color: #e6e6e6;

}

.admin-info {
    padding: 10px;
    margin: 20px 0;
    background-color: #ffd9d9;

}

.admin-info b {
    font-weight: bold;
}