*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.clear {
    clear: both;
}

.desktop {
    display: block;
}

.responsive {
    display: none;
}

/* Fonts */
h1 {

}

h2 {
}

h3 {

}

.text-1 {

}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}

	.liseret-anim {

		@include transition(all 0.3s)
	}

	&:hover {
		.liseret-anim {

		}
	}
}