@font-face {
    font-family: 'gotham_bold';
    src: url('../fonts/gotham_bold.eot');
    src: url('../fonts/gotham_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham_bold.woff') format('woff'),
         url('../fonts/gotham_bold.ttf') format('truetype'),
         url('../fonts/gotham_bold.svg#gotham_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}