/* vertical */
.vertical_align {
    display: table;
    width: 100%;
    height: 100%;
}

.vertical_align_inner {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

/* Horizontal */
.wrapper_parent {
    float: left;
    position: relative;
    left: 50%;
}

.wrapper_child {
    float: left;
    position: relative;
    left: -50%;
}

// HTML
/*
<div class="wrapper_parent">
    <div class="wrapper_child btn_green" id="footer_newsletter"></div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
*/