.full-image {
	position: absolute;
	top: 0;
	left: 0;
}

.full-image-parent {
	position: relative;
	overflow: hidden;
}

@mixin box-shadow($params) {
  -webkit-box-shadow: $params;
     -moz-box-shadow: $params;
          box-shadow: $params;
}