/* ------------------------- */
/*			Titles			 */
/* ------------------------- */

@mixin title-big() {
	font-size: 60px;
	font-family: 'DSTypeLeituraDisplayRoman', serif;
}

@mixin title-big-responsive() {
	font-size: 50px;
	font-family: 'DSTypeLeituraDisplayRoman', serif;
}


/* ------------------------- */
/*			Textes			 */
/* ------------------------- */

@mixin text-1($color) {
     font-family: "gotham_bold", sans-serif;
     font-size: 12px;
     color: $color;
     text-transform: uppercase;
     letter-spacing: 2px;
}

@mixin text-1-responsive($color) {
     font-family: "gotham_bold", sans-serif;
     font-size: 10px;
     color: $color;
     text-transform: uppercase;
     letter-spacing: 2px;
}