.large-width {
	position: relative;
	width: 89%;
	margin: 0 auto;
}

.medium-width {
	position: relative;
	width: 84%;
	margin: 0 auto;
}

.small-width {
	position: relative;
	width: 81.666666%;
	margin: 0 auto;
}

@media (max-width: 1300px) {

}

@media (max-width: 768px) {

}